main {
    overflow-y: scroll
}

#intro-text {
    color: #D83934;
    font-size: 13.5pt;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
    padding: 0;
    border: none;
    background: none;
}

#intro-text:hover {
    border-radius: 7px;
    transform: scale(1.05);
}


#new-post {
    border-radius: 8px;
    background: #FCCD5D;
    color: #D83934;
    font-size: 14pt;
    text-align: center;
    padding: 12px 5px 10px 5px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
}


#feed {
    padding-top: 10px;
    padding-bottom: 10px; 
    overflow:scroll;
    background-color: #FCCD5D;
    border-radius: 10px;
}

#post_container {
    border-radius: 10px;
    border-color: #000000;
    padding: 20px;
    background-color: #fdfdfd;
    z-index: 10;
    margin-bottom: 10px;
}

#post_title {
    color: #D83934;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 500;
    font-size: 24;
}
#post_user, #post_title, #post_body {
    color: #D83934;
    font-family: "Josefin Sans", sans-serif;
}
#post_user {
    font-size: 13.5pt;
}

@media screen and (max-width: 600px) {
    .navbar-brand {
        font-size: 20pt;
        padding: 12px 12.5px 0px 12.5px;
    }
    
    .nav-list li {
        float: none;
    }

    #intro-text {
       font-size: 5vw;
    }

}
