main {
    overflow-y: scroll;
    color: black;
}

#intro-text {
    color: #d83934;
    font-size: 13.5pt;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
    padding: 10px;
    border: none;
    background: none;
}

#intro-text:hover {
    border-radius: 7px;
    transform: scale(1.05);
}

#new-post {
    border-radius: 8px;
    background: #fccd5d;
    color: #d83934;
    font-size: 14pt;
    text-align: center;
    padding: 12px 5px 10px 5px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;

    display: block;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

#feed {
    padding: 2vh;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #fccd5d;
    border-radius: 0.6vw;
    max-width: 100%;
    display: block;
}

#post_container {
    overflow-x: hidden;
    overflow-y: scroll;
    border-radius: 1vw;
    border-color: #000000;
    padding: 1.5vh;
    margin-right: 1.5vh;
    margin-left: 1.5vh;
    background-color: #fdfdfd;
    z-index: 10;
    margin-bottom: 10px;
    max-width: 100%;
    box-sizing: border-box;
}

#feed_stars {
    display: flex;
    justify-content: space-between;
    color: #fccd5d;
    text-align: right;
    clear: both;
    width: 1em;
    font-size: 3vh;
    margin-bottom: 1.5vh;
    padding: 5px 10px 5px 0px;
}

#post_title {
    color: #d83934;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 500;
    font-size: 5vh;
    margin-top: 1.5vh;
    margin-bottom: 0vh;
}
#post_title,
#post_body {
    color: #d83934;
    font-family: "Josefin Sans", sans-serif;
    margin-bottom: 0;
}
#post_user {
    font-size: 13.5pt;
    font-family: "Josefin Sans", sans-serif;
    margin-bottom: 0;
    align-items: center;
    color: #008f95;
}

#post_pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-bottom: 1vh;
}

#comments_container {
    color: black;
    margin-top: 20px;
    background-color: #fff;
    border-top: 2px solid #eee;
    padding-top: 10px;
}

#comment {
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

#comment:last-child {
    border-bottom: none;
}

#comment strong {
    color: #0056b3;
}

#comment_form {
    padding: 10px 0;
}

#comment_input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none; /* Disables resizing of textarea */
}

@media screen and (max-width: 600px) {
    .navbar-brand {
        font-size: 20pt;
        padding: 12px 12.5px 0px 12.5px;
    }

    .nav-list li {
        float: none;
    }
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
    padding: 10px;
}

#searchInput {
    color: black;
    display: flex;
    border: 3px solid #fccd5d;
    padding: 10px;
    border-radius: 10px;
    width: 50%;
}
