body {
    padding-top: 100px;
    color: #D83934;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    font-family: "Josefin Sans", sans-serif;
}

.container {
    /* justify-content: center; */
    padding-top: 2vh;
    background-color: #fccd5d;
    border-radius: 0.6vw;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    height: 87vh;
    overflow: hidden;
}

#user-info-container {
    background-color: #fdfdfd;
    width: calc(30% -10px);
    flex-direction: column;
    float: left;
    display: flex;
    flex: 1;
    overflow: auto;
    overflow-y: scroll;
    padding: 1vw;
    border-radius: 0.6vw;
    /* background-color: yellow; */
}

#user-posts-container {
    width: calc(70% -10px);
    height: 100%;
    float: right;
    overflow-y: scroll;
}


.username {
    display: flex;
    margin-bottom: 10px;
    color: #D83934;
    font-size: medium;
}

.email {
    display: flex;
    margin-bottom: 10px;
    color: #D83934;
    font-size: medium;
}

#profile-info {
    /* font-weight: bold; */
    margin-bottom: 10px;
    color: #D83934;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
}


#logoutButton {
    background-color: #D83934;
    border: none;
    padding: 0.5vw;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
}
#logoutButton:hover {
    background-color: #008f95;
    transform: scale(1.05);
    font-size:larger;
}

.label {
    display: flex;
    color: #008f95;
    /* justify-content: center; */
}

.user-post {
    color: black;
    margin: 10px;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.19)

}

#post_container {
    display: flex;
    justify-content: center; 
    flex-direction: column;
    max-width: 100%;
    background-color: #fdfdfd00;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.19);
    margin-bottom: 20px;
} 

/* mobile responsivness for smaller screens
making profile page box size smaller */
@media screen and (max-width: 600px) {


    .container {
        display: flex;
        width: 85%;
        align-items: center;
        flex-direction: column;
        padding-top: 4vh;
        background-color: #fccd5d;
        border-radius: 0.6vw;
        max-width: 100%;
        display: flex;
        justify-content: space-between;
        height: 87vh;
        overflow: hidden;
    }

    #user-info-container {
        width: calc(30% -10px);
        flex-direction: column;
        float: top;
        display: flex;
        flex: 1;
        overflow-y: scroll;
        /* background-color: yellow; */
    }
    
    #user-posts-container {
        width: calc(70% -10px);
        height: 100%;
        float: right;
        overflow-y: scroll;
    }

}