body {
    height: 100vh;
    background-color: #f7f7f9;
    color: #e4e6eb;
}

.nav-list {
    list-style-type: none;
    font-family: "Noto Sans", sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f7f7f9;
    display: flex;
    justify-content: center;
    box-shadow: 0 2px 5px 0 rgba(0,143,149, 0.505);
}

.nav-list li {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
}

.nav-list li a {
    display: block;
    color: #008f95;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-list li a:hover {
    border-radius: 7px;
    transform: scale(1.2);
}

.navbar-brand {
    font-size: 24pt;
    color: #008f95;
    padding: 10px 25px 20px 25px;
}
#nav-title {
    color: #008f95;
    font-size: 14pt;
    padding-top: 10px;
}
/* Responsive adjustments */
@media screen and (max-width: 600px) {
    .nav-list li {
        float: none;
    }
}

.nav-bar {
    background-color: #3a3b3c;
    font-family: "Noto Sans", sans-serif;
    font-size: 20px;
    width: 100%;
    display: flex;
    padding: 10px;
}
