body {
    height: 100vh;
    background-color: #FDFDFD;
    color: #e4e6eb;
    background-image: url(../../images/big.jpeg);
    background-attachment: fixed;
    background-size: cover;
}

.navbar {
    border: none;
    background-color: #FDFDFD;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    position: relative;
}

.navbar-toggler {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.nav-list {
    list-style-type: none;
    font-family: "Josefin Sans", sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav-list:after {
    content: "";
    position: absolute;
    top: 0;
    right: -5px;
    bottom: 0;
    width: 5px;
    box-shadow: 0 2px 5px 0 rgba(255, 176, 0, 0.505);
}

.nav-list li {
    margin: 3px;
}

.nav-list li a {
    display: block;
    color: #D83934;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-list li a:hover {
    border-radius: 7px;
    transform: scale(1.2);
}

.navbar-brand {
    font-family: "Josefin Sans", sans-serif;
    font-size: 26pt;
    color: #D83934;
    font-weight: 900;
    margin: 0;
}

@media screen and (max-width: 700px) {

    .navbar-brand {
        margin-top: 10px;
    }

    .navbar-toggler {
        display: block;
        align-items: center;
        color: #D83934;
        padding: 0px;
    }

    .nav-list {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #FDFDFD;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .nav-list li {
        text-align: center;
        padding: 10px 0;
        width: 100%;
    }

    .nav-list li a {
        padding: 10px;
        width: 100%;
        display: block;
    }

    .nav-list.active {
        margin-top: 2vh;
        display: flex;
    }

}
