body {
    height: 100vh;
    background-color: #FDFDFD;
    color: #e4e6eb;
}

.nav-list {
    list-style-type: none;
    font-family: "Inter";
    font-size: 20px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FDFDFD;
    display: flex;
    justify-content: center;
    box-shadow: 0 2px 5px 0 rgba(255,176, 0, 0.505);
}

.nav-list li {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
}

.nav-list li a {
    display: block;
    color: #D83934;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-list li a:hover {
    border-radius: 7px;
    transform: scale(1.2);
}

.navbar-brand {
    font-size: 24pt;
    color: #D83934;
    padding: 10px 25px 20px 25px;
    font-weight: 700;
}
#nav-title {
    color: #D83934;
    padding-top: 10px;
    font-family: "Inter";
    font-size: 14pt;
    font-weight: 600;
    line-height: normal;
}

/* Responsive adjustments */
@media screen and (max-width: 600px) {
    .nav-list li {
        float: none;
    }
}
