<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<!-- Setting scale, width level -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Welcome & Signup</title>
<!-- External link to Google font 'Josefin Sans' -->
<link href='https://fonts.googleapis.com/css?family=Josefin Sans' rel='stylesheet'>
<!-- Style sheet linked -->
<link rel="stylesheet" href="styles.css"> 
</head>
<body>
<div class="container">
    <div class="welcome">
        <!-- Web site welcome/introduction -->
        <h1>Welcome to Plating Perth!</h1>
        <h2>Discover local gems, share your favourite eats and connect with your fellow foodies.</h2>
    </div>
        <div class="signup">
            <h1>Sign Up</h1>
            <!-- Creating signup form -->
            <form id="signupForm" action="#" method="post">
                <input type="text" name="username" placeholder="Username" required>
                <input type="text" name="email" placeholder="Email" required>
                <input type="password" name="password" placeholder="Password" required>
                <input type="password" name="pwConfirm" placeholder="Confirm Password" required>
                <input type="submit" value="Sign Up">
            </form>

            <div class="login-header-container">
                <h1>Login</h1>
            </div>
            <!-- Container for 'Already have an account?' section, next to login button -->
            <div class="login-container">
                <p>Already have an account?</p>
                <a href="#" id="loginButton">Log in</a>
            </div>
            <div class="forgotPassword-container" id="login" style="display: none;">
                <form id="loginForm" action="#" method="post">
                    <input type="text" name="email" placeholder="Email" required>
                    <input type="password" name="password" placeholder="Password" required>
                    <input type="submit" value="Log In">
                </form>
                <!-- 'Dont have an account?' prompt next to signup link to signup form -->
                <div class="signup-link">
                    <p>Don't have an account? <a href="#" id="signupLink">Sign Up</a></p>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- JavaScript for page functionality -->
<script src="script.js"></script>
</body>
</html>
