<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../static/css/profilepage.css">
    <link rel="stylesheet" href="../static/css/style.css" />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
        />
    <title>User Profile</title>

</head>
<body>
    <header>
        <nav class="navbar">
            <h1 class="navbar-brand">Plating Perth</h1>
            <button class="navbar-toggler" onclick="toggleMenu()">
                <span class="navbar-toggler-icon">&#9776;</span>
            </button>
            <ul class="nav-list">
                <li><a href="/" id="nav-home">HOME</a></li>
                <li><a href="/profile" id="nav-profile" class="nav-title">PROFILE</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                    <div class="container">
                    <div class="col-sm-4" id="user-info-container">
                        <div id = "profile-info">Hey {{username}}!</div>
                        <div id ="username" class = "username">Username: {{username}}</div>
                        <div id ="email" class="email">Email: {{email}}</div>
                        <button id="logoutButton">Log out</button>
                    </div>
                    <div class="col-sm-8" id="user-posts-container"></div>
                </div>
            </div>
            </div>
            <div class="col-sm-2"></div>
        </div>

    
</main>
    <script src="../static/js/profile_page.js"></script>
    <script src="../static/js/script.js"></script>
</body>
</html>
